body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  box-sizing: border-box;
}

.container {
  background-color: rgb(206, 223, 226);
  padding: 30px;
  width: 35%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#text-input {
  padding: 5px;
  font-size: 17px;
  width: 79%;
  border: none;
  padding-left: 10px;
}

#text-input:focus {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  outline: none !important;
}

.input-button button {
  font-size: 20px;
  /* border-radius: 4px; */
  cursor: pointer !important;
  color: rgb(79, 76, 76);
  font-weight: bold;
  padding: 4px 10px;
  border: 1px solid rgba(3, 95, 44, 0.473);
  background-color: rgb(64, 214, 132);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.input-button button:hover {
  background-color: rgb(85, 224, 148);
}

.input-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  margin: 10px 3px;
  cursor: pointer;
  background-color: rgb(243, 240, 240);
  padding: 0 20px;
  height: 50px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

li button {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: rgb(29, 28, 28);
  background-color: rgba(218, 116, 98, 0.856);
}
li button:hover {
  background-color: rgba(224, 93, 70, 0.856);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.check-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-text input {
  margin-right: 20px;
}

.check-text p {
  text-decoration: none;
  font-family: monospace;
}

#tasks {
  padding: 0 !important;
}

input[type="checkbox"] {
  transform: scale(1.1);
}
